.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: row;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

.sidebar{
  // background-color: #e70404;
  // height: 10px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menubar{
  position: fixed;
  background: none;
  height: 40vh;
}

.menu {
  background-color: #060b26;
  width: 250px;
  height: 55vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 10;
  left: -100%;
  transition: 850ms;
  border-radius: 10px;
}

.menu.active {
  left: 0;
  transition: 350ms;
}
.menu-items {
  width: 100%;
}

.menu-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.sidebar-bold{
  font-size: 12px;
  font-weight: bold;
}

.sidebar-text{
  font-size: 12px;
  padding: 10px;
}